{% load static %}
<div class="container-fluid pb-1 pt-1 mt-5 "
  style="background-color: rgba(255, 192, 203, 0.39);margin-bottom: 0px !important;">
  <div class="container">
    <div class="row my-5 pt-4">
      <div class="col-md-3 ">
        <img src="{% static 'appimages/mithralogo.png' %}" width="100%" alt="" class="px-4">

        <div class="my-4 ms-2">
          <p class="contactfontsize " style="margin-left: 70px;">Mattress</p>
          <p class="contactfontsize " style="margin-left: 70px;">Pillow</p>
          <p class="contactfontsize " style="margin-left: 70px;">Sofa Makeovers</p>
          <p class="contactfontsize " style="margin-left: 70px;">Sofa Makeovers</p>
          <p class="contactfontsize " style="margin-left: 70px;">Furniture</p>
          <p class="contactfontsize " style="margin-left: 70px;">Bed Accessories</p>
          <p class="contactfontsize " style="margin-left: 70px;">Others</p>
          <p class="contactfontsize " style="margin-left: 70px;">About Us</p>
        </div>

      </div>

      <div class="col-md-1"></div>

      <div class="col-md-4 mb-0">
        <div class="ms-5">
          <div class="mt-3"><span><i class="fa-solid fa-house"></i></span><span class="ms-4 fw-bold">Address</span>
          </div>
          <div class="ps-5 contactfontsize mt-3  ">
            <p class="my-1  addresalignment">2001, Trichy road, </p>
            <p class="my-1  addresalignment">Opposite Rajalakshmi Mills,</p>
            <p class="my-1 addresalignment">Near Srivari Trisara Apartment.</p>
            <p class="my-1 addresalignment">Coimbatore 641005</p>
          </div>

          <div class="mt-3"><span><i class="fa-regular fa-envelope"></i></span><span class="ms-4 fw-bold">Email</span>
          </div>

          <div class="ps-5 contactfontsize mt-3 ">
            <p class="my-1 addresalignment">cbe.mithraenterprises@gmail.com</p>
          </div>

          <div class="mt-3"><span><i class="fa-solid fa-phone"></i></span><span class="ms-4 fw-bold">Mobile</span></div>
          <div class="ps-5 contactfontsize mt-3 ">
            <p class="my-1 addresalignment">9787114111</p>
          </div>

          <div class="mt-3"><span><i class="fa-regular fa-clock"></i></span><span class="ms-4 fw-bold">Opening
              Hours</span></div>
          <div class="ps-5 contactfontsize mt-3 ">
            <p class="my-1 addresalignment">Monday - Saturday / 09.30 AM - 06.30 PM (Except Holidays)</p>
          </div>
        </div>

      </div>


      <div class="col-md-4 mt-3 ">
        <p class="fw-bold ms-5"><span>Follow us on :</span>
          <i class="fa-brands fa-pinterest ms-2 fw-bold ms-4"></i>
          <i class="fa-brands fa-x-twitter ms-2 fw-bold ms-4"></i>
          <i class="fa-brands fa-instagram ms-2 fw-bold ms-4"></i>
          <i class="fa-brands fa-facebook ms-2  fw-bold ms-4"></i>
        </p>

      </div>
    </div>
  </div>
</div>