{% load static %}
<div class="container-fluid pb-1 pt-1 mt-5"
  style="background-color: rgba(255, 192, 203, 0.39);margin-bottom: 0px !important;">
  <div class="container">
    <div class="row my-5 pt-4">
      <div class="col-md-3 ">
        <img src="{% static 'appimages/mithralogo.png' %}" width="100%" alt="" class="px-4">

        <div class="my-4 ms-2">
          <p class="">Mattress</p>
          <p class="">Pillow</p>
          <p class="">Sofa Makeovers</p>
          <p class="">Sofa Makeovers</p>
          <p class="">Furniture</p>
          <p class="">Bed Accessories</p>
          <p class="">Others</p>
          <p class="">About Us</p>
        </div>

      </div>
      <div class="col-md-1"></div>

      <div class="col-md-4 mb-0">


        <div class="mt-5"><span><i class="fa-solid fa-house ms-1"></i></span><span class="ms-4 fw-bold">Address</span>
        </div>
        <div class="ps-5 contactfontsize mt-3  ">
          <p class="my-1 ">2001, Trichy road, Opposite Rajalakshmi Mills,</p>
          <p class="my-1">Near Srivari Trisara Apartment.</p>
          <p class="my-1">Coimbatore 641005</p>
        </div>

        <div class="mt-3"><span><i class="fa-regular fa-envelope"></i></span><span class="ms-4 fw-bold">Email</span>
        </div>
        <div class="ps-5 contactfontsize mt-3 ">
          <p class="my-1 ">cbe.mithraenterprises@gmail.com</p>
        </div>

        <div class="mt-3"><span><i class="fa-solid fa-phone"></i></span><span class="ms-4 fw-bold">Mobile</span></div>
        <div class="ps-5 contactfontsize mt-3 ">
          <p class="my-1 ">9787114111</p>
        </div>

        <div class="mt-3"><span><i class="fa-regular fa-clock"></i></span><span class="ms-4 fw-bold">Opening
            Hours</span></div>
        <div class="ps-5 contactfontsize mt-3 ">
          <p class="my-1 ">Monday - Saturday / 09.30 AM - 06.30 PM (Except Holidays)</p>
        </div>

      </div>


      <div class="col-md-4 mt-3">
        <p class="fw-bold">Follow us on :</p>
        <i class="fa-brands fa-pinterest ms-2 fw-bold"></i>
        <i class="fa-brands fa-x-twitter ms-2 fw-bold"></i>
        <i class="fa-brands fa-instagram ms-2 fw-bold"></i>
        <i class="fa-brands fa-facebook ms-2  fw-bold"></i>
      </div>
    </div>
  </div>
</div>