{% load static %}
<!-- contact header starts -->
<div class="container-fluid bgprimarycolor">
  <div class="container text-center ">
    <div class="row text-white hidersinmobileview">
      <div class="col-md-8  p-3">
        <span>cbe.mithraenterprises@gmail.com</span>
        <span class="ms-3">Helpline: 97871 14111</span>
      </div>
      <div class="col-md-4  p-3">
        <span><i class="fa-brands fa-pinterest ms-2"></i></span>
        <span><i class="fa-brands fa-x-twitter ms-2"></i></span>
        <span><i class="fa-brands fa-instagram ms-2"></i></span>
        <span><i class="fa-brands fa-facebook ms-2 "></i></span>
      </div>
    </div>
  </div>
</div>
<!-- contact header ends -->


<div class="container text-center hidersinmobileview mb-0">
  <img src="{% static 'appimages/mithralogo.png' %}" class="p-0 my-3" width="50%"  alt="">
</div>






















<!-- company namedetial starts -->
<!-- <div class="container my-4 p-0">
  <h1 class="colorprimary fw-bold text-center companyname"> <span><img src="{% static 'appimages/logo.png' %}"
        width="100px" alt="c"></span>MITHRA BEDS AND SOFAS</h1>
  <p class=" ms-5 fw-bold text-center companyslogan" style="color: rgba(30, 25, 81, 1);margin-top: -20px;">Your Sleep &
    Comfort Start
    With Us</p>
</div> -->
<!-- company namedetial ends -->