{% load static %}
<!-- contact header starts -->
<div class="container-fluid bgprimarycolor">
  <div class="container text-center ">
    <div class="row text-white hidersinmobileview">
      <div class="col-md-8  p-3">
        <span>cbe.mithraenterprises@gmail.com</span>
        <span class="ms-3">Helpline: 97871 14111</span>
      </div>
      <div class="col-md-4  p-3">
        <span><i class="fa-brands fa-pinterest ms-2"></i></span>
        <span><i class="fa-brands fa-x-twitter ms-2"></i></span>
        <span><i class="fa-brands fa-instagram ms-2"></i></span>
        <span><i class="fa-brands fa-facebook ms-2 "></i></span>
      </div>
    </div>
  </div>
</div>
<!-- contact header ends -->


<div class="container text-center hidersinmobileview mb-0">
  <img src="{% static 'appimages/mithralogo.png' %}" class="p-0 my-3" width="50%"  alt="">
</div>


<div id="carouselExampleIndicators" class="carousel slide mx-2 hidersinmobileview">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
      aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
      aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'appimages/Banner01.png' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'appimages/Banner02.png' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'appimages/Banner03.png' %}" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>



















<!-- company namedetial starts -->
<!-- <div class="container my-4 p-0">
  <h1 class="colorprimary fw-bold text-center companyname"> <span><img src="{% static 'appimages/logo.png' %}"
        width="100px" alt="c"></span>MITHRA BEDS AND SOFAS</h1>
  <p class=" ms-5 fw-bold text-center companyslogan" style="color: rgba(30, 25, 81, 1);margin-top: -20px;">Your Sleep &
    Comfort Start
    With Us</p>
</div> -->
<!-- company namedetial ends -->