{% extends 'base/base.html' %}
{% load static %}
{% block content %}



<!-- header starts -->
{% include 'inc/header.html' %}
<!-- header ends -->








<!-- navbar starts -->
{% include 'inc/navbar.html' %}
<!-- navbar ends -->


<div class="container text-center showinmobileview mt-5">
  <br>
  <img src="{% static 'appimages/mithralogo.png' %}" class="showinmobileview my-3" width="80%" alt="">
</div>

<!-- carousel starts -->
<div id="carouselExampleIndicators" class="carousel slide mx-2 showinmobileview">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
      aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
      aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'appimages/Banner01.png' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'appimages/Banner02.png' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'appimages/Banner03.png' %}" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!-- carousel ends -->








<br>
<br>


<!-- company promices starts -->
<div class="container  mt-1">
  <div class="row mx-5 text-center">

    <div class="col-md-3 my-3">
      <div><img src="{% static 'appimages/robbionimage.png' %}" class="promise-logo" alt=""><span
          class="ms-3 colorsecondary fw-bold">Supreme Quality</span></div>
    </div>

    <div class="col-md-3 my-3">
      <div><img src="{% static 'appimages/robbionimage.png' %}" alt="" class="promise-logo"><span
          class="ms-3 colorsecondary fw-bold">Earned Trust</span></div>
    </div>

    <div class="col-md-3 my-3">
      <div><img src="{% static 'appimages/messagepng.png' %}" alt="" class="promise-logo2"><span
          class="ms-3 colorsecondary fw-bold">Hygiene</span></div>
    </div>

    <div class="col-md-3 my-3">
      <div><img src="{% static 'appimages/messagepng.png' %}" alt="" class="promise-logo2"><span
          class="ms-3 colorsecondary fw-bold">Support on Call</span></div>
    </div>
  </div>
</div>
<!-- company promices ends -->








<!-- about company starts-->
<div class="container mb-5 mt-5">
  <div class="colorprimary text-center mb-4 heading-size">About Mithra Beds and Sofas</div>
  <p class="colorsecondary text-center lh-lg ">Mitha association with Furniture needs no introduction. Mithra is the
    world’s largest manufacturer of moulded furniture & India’s favourite furniture brand with 50 stores & 3,000+
    distributors. Our furniture has eternally been a part of Indian home’s interiors, knowingly or unknowingly taking
    space in the form of a simple plastic chair in your living room or an entire furniture set in your bedrooms or
    offices adding both emotion and charm to your sheen interiors.</p>
</div>
<!-- about company ends -->






<!-- category starts-->
<div class="container mt-5">
  <div class="colorprimary text-center mb-4 heading-size">Complete your Sleep Suite</div>
  <p class="colorsecondary text-center lh-lg ">
    We have entire range of exclusive products for comfortable sound sleep...
  </p>
  <div class="row">
    {% for item in category %}
    <div class="col-md-4 my-3">
      <div class="home-category-image-container" style="background-image: url({{item.image.url}});">
        <a href="{% url 'subcategory' item.name %}">
          <button class="home-category-image-container-heading ">{{item.name}}<i
              class="fa-solid fa-arrow-right ms-3"></i>
          </button>
        </a>
      </div>
    </div>

    {% endfor %}
  </div>
</div>
<!-- category ends -->






<!-- why ilavam panju starts -->
<div class="container-fluid p-5" style="background-color: #f5f5f5;">
  <div class="colorprimary text-center mb-5 mt-3 heading-size">Why Ilavam panju ?</div>
  <div class="row">

    <div class="col-md-4 my-3 text-center">
      <img src="{% static 'appimages/waterresistant.png' %}" width="100px" alt="">
      <h5 class="colorprimary fw-bold mt-3">Water Resistant</h5>
      <p class="colorsecondary text-center lh-lg ">Won’t Absorb Sweat, devoid of <br> Chemical odour</p>
    </div>

    <div class="col-md-4 text-center  my-3 ">
      <img src="{% static 'appimages/regulateheats.png' %}" width="100px" alt="">
      <h5 class="colorprimary fw-bold mt-3">Regulates Heat</h5>
      <p class="colorsecondary text-center lh-lg ">Keep body cool in summer and <br>warm in winter </p>
    </div>

    <div class="col-md-4 text-center  my-3 ">
      <img src="{% static 'appimages/allergen.png' %}" width="100px" alt="">
      <h5 class="colorprimary fw-bold mt-3">Hypo Allergenic</h5>
      <p class="colorsecondary text-center lh-lg ">Prevents allergic skin reaction,<br> dust mites or fungus formation.
      </p>
    </div>

    <div class="col-md-4 text-center  my-3 ">
      <img src="{% static 'appimages/biological.png' %}" width="100px" alt="">
      <h5 class="colorprimary fw-bold mt-3">Bio Degradable</h5>
      <p class="colorsecondary text-center lh-lg ">Naturally extract from tree <br> and easily decomposable</p>
    </div>

    <div class="col-md-4 text-center  my-3 ">
      <img src="{% static 'appimages/recycle.png' %}" width="100px" alt="">
      <h5 class="colorprimary fw-bold mt-3">Recyclable</h5>
      <p class="colorsecondary text-center lh-lg ">Won’t Absorb Sweat, devoid of <br> Chemical odour</p>
    </div>

    <div class="col-md-4 text-center  my-3 ">
      <img src="{% static 'appimages/cotton.png' %}" width="100px" alt="">
      <h5 class="colorprimary fw-bold mt-3">Pure Cotton</h5>
      <p class="colorsecondary text-center lh-lg ">Outer cover is pure cotton no <br> polyester </p>
    </div>
  </div>
</div>
<!-- why ilavam panju ends -->




<br>
<br>


<!-- testimonial starts -->
<div class="container ">
  <div class="colorprimary text-center mb-5 mt-3 heading-size">Testimonials</div>
  <div class="row ">

    <div class="col-md-4 my-1">
      <div class="card p-3 text-center px-4">

        <div class="user-image mb-3">

          <img src="https://i.imgur.com/PKHvlRS.jpg" class="rounded-circle" width="80">

        </div>

        <div class="user-content">

          <h5 class="mb-0">Bruce Hardy</h5>
          <span>Software Developer</span>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat.</p>

        </div>

      </div>
    </div>

    <div class="col-md-4 my-1">
      <div class="card p-3 text-center px-4">

        <div class="user-image mb-3">

          <img src="https://i.imgur.com/PKHvlRS.jpg" class="rounded-circle" width="80">

        </div>

        <div class="user-content">

          <h5 class="mb-0">Bruce Hardy</h5>
          <span>Software Developer</span>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat.</p>

        </div>


      </div>
    </div>


    <div class="col-md-4 my-1">
      <div class="card p-3 text-center px-4">

        <div class="user-image mb-3">

          <img src="https://i.imgur.com/PKHvlRS.jpg" class="rounded-circle" width="80">

        </div>

        <div class="user-content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat.</p>
        </div>

        <div class="ratings">
          <h5 class="mb-0">Bruce Hardy</h5>
          <span class="fw-light">- CEO, Reliance</span>

        </div>

      </div>
    </div>

  </div>
</div>
<!-- testimonial ends -->


<br>
<br>
<br>









<!-- address info -->
<div class="container">
  <div class="colorprimary text-center mt-3 mb-5 heading-size">Contact</div>
  <div class="row">
    <div class="col-md-6 ">
      <h2 class="colorprimary fw-bold">EXPERIENCE CENTER NEAR YOU</h2>
      <h4 class="colorsecondary fontsize24">Address :</h4>
      <p class="colorsecondary mb-3 fw-light">2001, Trichy road, Opposite Rajalakshmi Mills,<br> Near Srivari Trisara
        Apartment, Coimbatore - 641005</p>

      <h4 class="colorsecondary mb-1 fontsize24">Mobile :</h4>
      <p class="colorsecondary mb-3  fw-light">9787114111</p>

      <h4 class="colorsecondary fontsize24">Email</h4>
      <p class="colorsecondary mb-3 fw-light">cbe.mithraenterprises@gmail.com</p>

      <h4 class="colorsecondary fontsize24">Support & Enquiry :</h4>
      <p class="colorsecondary mb-3 fw-light">nfo@mithraenterprises.com</p>




    </div>
    <div class="col-md-6">
      <div class="">
        <div class="form-card2">
          <form class="form" method="POST" action="{% url 'home' %}" autocomplete="off">
            {% csrf_token %}
            <p class="form-heading">Get In Touch</p>

            <div class="form-field">
              {{form.name}}
            </div>

            <div class="form-field">
              {{form.phone}}
            </div>

            <div class="form-field">
              {{form.email}}
            </div>

            <div class="form-field">
              {{form.message}}
            </div>

            <button class="sendMessage-btn">Send Message</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- address info -->

<!-- map start -->
<div class="container my-4">
  <div class="row">
    <div class="colorprimary text-center mb-5 mt-3 heading-size">Find My Way</div>
    <div class="col-md-12">
      <img src="{% static 'appimages/map.webp' %}" width="100%" height="500px" alt="">
    </div>
  </div>
</div>
<!-- map ends -->




<!-- footer starts -->
{% include 'inc/footer.html' %}
<!-- footer ends -->

{% endblock content %}